* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px; }

h1, h2, h3, h4, h5, h6 p {
  font-size: inherit; }

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit; }

input:focus, button:focus {
  outline: none; }

ul, li {
  list-style: none; }

a, a:active, a:hover {
  color: #ffffff;
  text-decoration: none; }

@font-face {
  font-family: "Impact";
  src: url("../fonts/Impact.ttf"); }
body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #121212; }

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px; }

p {
  font-size: 24px;
  color: #ffffff; }

h2 {
  font-family: 'Impact', sans-serif;
  font-size: 32px;
  color: #ffffff; }

.brown-bg {
  background-color: #7e5130; }

.text-bg {
  display: block;
  width: 588px;
  height: 536px;
  padding: 96px 120px;
  box-sizing: border-box; }

.btn {
  padding: 10px 20px;
  color: #ffffff;
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px; }

header {
  height: 1017px;
  background: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.header-info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 400px;
  left: 50%;
  max-width: 580px;
  padding: 50px;
  background-color: #121212; }

.header-info button {
  margin-top: 50px;
  max-width: 230px; }

.header-info button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s; }

@media (max-width: 1200px) {
  .header-info {
    left: 5%; } }
.nav {
  padding: 46px 0; }

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff; }

#about-us {
  margin: 175px 0 150px 0; }

.about-us-1 {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative; }

.about-us-1 .text-bg {
  position: absolute;
  top: 100px;
  left: 0; }

#about-us-icon-1 {
  position: relative;
  top: -50px; }

.about-us-2 {
  display: flex;
  justify-content: space-between; }

.about-us-card {
  max-width: 467px; }

.about-us-card img {
  margin-bottom: 105px; }

#about-us-icon-2 {
  position: relative;
  top: 250px;
  left: 850px; }

@media (max-width: 1200px) {
  .about-us-2 {
    flex-direction: column;
    align-items: center; }

  .about-us-2 div:not(:last-child) {
    margin-bottom: 150px; }

  #about-us-icon-2 {
    top: 150px;
    left: 200px; } }
#barbers {
  margin-bottom: 250px; }

.barber-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }

.barber-card .text-bg {
  position: absolute;
  top: 100px;
  right: 0; }

.barber-card h2 {
  position: absolute;
  right: 150px;
  bottom: 0; }

.slider__item {
  flex: 0 0 100%;
  max-width: 100%; }

@media (max-width: 1200px) {
  .barber-card {
    flex-direction: column;
    justify-content: flex-start; }

  .barber-card .text-bg {
    position: relative; }

  .barber-card h2 {
    position: relative;
    top: 150px;
    right: 195px; } }
#price-list {
  margin: 200px 0; }

.price-list-columns {
  display: flex;
  justify-content: space-between; }

.price-list-card {
  max-width: 500px; }

.price-list-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 227px;
  height: 227px;
  margin-right: 25px; }

.price-list-body {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }

.prices {
  text-align: end; }

@media (max-width: 1200px) {
  .price-list-columns {
    flex-direction: column;
    align-items: center; }

  .price-list-columns .price-list-card:not(:last-child) {
    margin-bottom: 150px; } }
.footer-top {
  background: url(../img/footer/footer-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px; }

.footer-flex {
  display: flex;
  flex-wrap: nowrap; }

.footer-row {
  display: flex;
  justify-content: space-between;
  margin: 50px 0; }

.footer-column * {
  margin-bottom: 15px; }

.footer-column-flex {
  display: flex;
  align-items: flex-start; }

.footer-bottom {
  padding: 50px; }

.footer-bottom p {
  font-size: 18px; }

.form-wrap {
  padding: 100px;
  background-color: #7e5130; }

.form-wrap h2 {
  margin-bottom: 50px; }

.input-group {
  position: relative; }

.input-group input {
  display: block;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background-color: transparent;
  border-bottom: 5px solid #bfa897; }

.input-group label {
  position: absolute;
  bottom: 10px;
  color: #fff;
  z-index: -1; }

.btn-form {
  width: 225px;
  height: 75px;
  margin-top: 50px; }

.btn-form:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s; }

.working-days {
  margin-right: 40px; }

.icons-row img {
  height: 100%;
  margin-right: 20px; }

#footer-logo {
  position: relative;
  top: -50px;
  left: 30px; }

@media (max-width: 1200px) {
  .footer-flex {
    flex-direction: column;
    align-items: center; }

  .form-wrap {
    width: 706px; }

  .footer-row {
    flex-direction: column;
    margin-left: 100px; }

  .footer-row div:not(:last-child) {
    margin-bottom: 30px; } }

/*# sourceMappingURL=main.css.map */
