header {
    height: 1017px;
    background: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.header-info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 400px;
    left: 50%;
    max-width: 580px;
    padding: 50px;

    background-color: #121212;
}

.header-info button {
    margin-top: 50px;
    max-width: 230px;
}

.header-info button:hover {
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .header-info {
        left: 5%;
    }
}